*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
:root{
    /* background color */
    --bg-primary-color: #121212;
    --bg-secondary-color: #1E1E1E;
    

    /* text color */
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B0B0B0;

    /* spacing */
    --spacing-small: 8px;
    --spacing-xsmall: 4px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;
    --spacing-xxlarge: 40px;
    --spacing-xxxlarge: 48px;

    /* border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;

    /* border color */
    --border-primary-color: rgba(255, 255, 255, 0.604);
    --border-secondary-color: rgba(255, 255, 255, 0.245);
}

body{
    background-color: var(--bg-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-primary-color);
  
    min-height: 100vh;
    /* overflow: hidden;  */

}
.main-card{
    width: 90%; 
    min-height: 100vh;
    margin: 20px auto; 
    border: 2px solid var(--border-primary-color);
    padding: 20px;
    border-radius: var(--border-radius-medium);
   
}
.infos{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin:10px auto;
}
.infos .high-score, .score, .time{
    border: 2px solid var(--border-secondary-color);
    padding: var(--spacing-small);
    border-radius: var(--border-radius-small);
}
.board {
    width: 95%;
    height: 600px;   
    margin: 16px auto;
    border: 2px solid var(--border-secondary-color);
}

 .grid {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(42, minmax(0, 1fr));
    grid-template-rows: repeat(21.42, minmax(0, 1fr));
    gap: 1px;
    border: 1px solid var(--border-secondary-color);
    color: var(--text-primary-color);
    flex-shrink: 0;
    flex-wrap: wrap;
}
.cell { 
    border: 1px solid var(--border-primary-color); 
}


.snake {
  background: limegreen;
}

.food {
  background: red;
}
